.error{
    color: red;
    background-color: yellow;
    font-size: 1.2em;
    font-weight: bolder;
}
#menu_style{
    width: 100%;
    height: 60px;
    padding: 10px;
    top: 0;
    left: 0;
}

#menu_style ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}

#menu_style ul li{
    display: inline-block;
    height: 100%;
}

#menu_style ul li a:hover{
    text-decoration: none !important;
    color: white !important;
    background-color: #5c5c5c;
}

ul li a {
    padding: 5px;
    text-decoration: none;
    color: white;
    height: 100%;
}

.winkelmand {
    color: white;
}

.winkelmand:hover {
    background-color: #343a40 !important;
}

.container-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

#rechtsplaatsen{
    float: right;
}

.header {
    width: 100%;
    padding-top: 20px;
}

#sizerShop {
    float: left;
    width: 25% !important;
}

#shop-wrapper {
    padding-top: 20px;
}

.OddStyle {
    width: 100% !important;
}

.small {
    font-size: 0.8em !important;
}

#sizerShop .img-wrapper{
    height: 300px !important;
}

#sizerShop .img-wrapper img{
    height: 100% !important;
    object-fit: contain;
}

#sizerShop .card-body{
    height: 220px !important;
}

table{
    text-align: center;
}

/*Media Qeury's*/

@media only screen and (max-width: 1315px) {
    #sizerShop {
        width: 33.33% !important;
    }
}

@media only screen and (max-width: 1010px) {
    #sizerShop {
        width: 50% !important;
    }
}

@media only screen and (max-width: 720px) {
    .header{
        display: none;
    }

    #sizerShop {
        width: 100% !important;
    }
}