<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- @author Ghysels dymas-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <!--CSS-->
    <link rel="stylesheet" th:href="@{~/CSS/style.css}">

    <script src="https://kit.fontawesome.com/1e64fb3f07.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <!--javascript/jQeury-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <title>Title</title>
</head>
<body>

<form th:action="@{~/login}" method="post" th:object="${nUser}">
    <div class="form-group">
        <label for="email" class="input-group-text">Email</label>
        <input type="email" id="email" class="form-control" th:field="*{mail}" placeholder="Voer uw emailadres in">
        <span th:if="${#fields.hasErrors('mail')}" class="error"></span>
    </div>
    <div class="form-group">
        <label for="voorNaam" class="input-group-text">Voornaam</label>
        <input type="text" id="voorNaam" class="form-control" th:field="*{voorNaam}" placeholder="Voer uw voornaam in">
        <span th:if="${#fields.hasErrors('voorNaam')}" class="error"></span>
    </div>
    <div class="form-group">
        <label for="achterNaam" class="input-group-text">Achternaam</label>
        <input type="text" id="achterNaam" class="form-control" th:field="*{achterNaam}" placeholder="voer uw achternaam in">
        <span th:if="${#fields.hasErrors('achterNaam')}" class="error"></span>
    </div>
    <div class="form-group">
        <label for="telefoonNr" class="input-group-text">Telefoonnummer</label>
        <input type="text" id="telefoonNr" class="form-control" th:field="*{telefoonNr}" placeholder="voer uw telefoonnummer in">
        <span th:if="${#fields.hasErrors('telefoonNr')}" class="error"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputStraat">Straat</label>
            <input type="text" class="form-control" id="inputStraat" th:field="*{straatNaam}" placeholder="Straatnaam">
            <span th:if="${#fields.hasErrors('straatNaam')}" class="error"></span>
        </div>
        <div class="form-group col-md-4">
            <label for="inputHuisNr">Huisnummer</label>
            <input type="text" class="form-control" id="inputHuisNr" th:field="*{huisNr}" placeholder="A 18">
            <span th:if="${#fields.hasErrors('huisNr')}" class="error"></span>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="inputCity">Gemeente/Stad</label>
                    <input type="text" class="form-control" id="inputCity" th:field="*{gemeente}" placeholder="Stad...">
                    <span th:if="${#fields.hasErrors('gemeente')}" class="error"></span>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputZip">Postcode</label>
                    <input type="text" class="form-control" id="inputZip" th:field="*{postCode}" placeholder="A 1000">
                    <span th:if="${#fields.hasErrors('postCode')}" class="error"></span>

                </div>
                <div id="sub-knop">
                    <input type="submit" class="btn btn-primary" href="/index"></input>
                </div>
            </div>
        </div>
    </div>
 </form>

</body>
</html>