<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!-- @author Ghysels dymas & Ahmadi Baloutaki Amin-->
<!--CSS-->
<link rel="stylesheet" th:href="@{~/style.css}">
<script src="https://kit.fontawesome.com/1e64fb3f07.js" crossorigin="anonymous"></script>


<nav th:fragment="nav_menu(page)" id="menu_style" class="navbar navbar-dark bg-dark">
    <ul>
        <li ><a th:href="@{~/index}" id="home" th:class="${(page=='index')?'active':''}"> Home</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorie
            </a>
            <div id="a3" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/productFilter/Habitat">Habitat</a>
                <a class="dropdown-item" href="/productFilter/Speelgoed">Speelgoed</a>
                <a class="dropdown-item" href="/productFilter/Voeding">Voeding</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dierensoort
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/soortFilter/Amphibie">Amphibie</a>
                <a class="dropdown-item" href="/soortFilter/Honden">Honden</a>
                <a class="dropdown-item" href="/soortFilter/Reptiel">Reptiel</a>
                <a class="dropdown-item" href="/soortFilter/Vis">Vis</a>
            </div>
        </li>
        <li id="rechtsplaatsen">
            <a th:href="@{~/login}" class="winkelmand">Login</a>
            <a th:href="@{~/winkelmand}" class="winkelmand"><i class="fas fa-shopping-cart"></i></a>
        </li>
    </ul>
</nav>

</html>