<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!-- @author Ghysels dymas-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <!--CSS-->
    <link rel="stylesheet" th:href="@{~/CSS/style.css}">

    <script src="https://kit.fontawesome.com/1e64fb3f07.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <!--javascript/jQeury-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <title>Title</title>
</head>
<body>
<nav th:replace="~{menu::nav_menu(winkelmand)}"></nav>


    <table id="producttable" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Product</th>
                <th>Hoeveelheid</th>
                <th>Prijs</th>
                <th></th>
            </tr>
        </thead>
            <tbody>
                <tr th:each="product : ${all}">
                    <td th:text="${product.dierenProduct.getProductNaam()}"></td>
                    <td th:text="${product.getAmount()}"></td>
                    <td th:text="${product.dierenProduct.getPrijs()}"></td>
                    <td><a class="btn btn-danger" th:href="@{/winkelmand/delete/{id}(id = ${product.dierenProduct.getId()})}">Delete</a></td>
                </tr>
            <tr>
                <td>Totaal</td>
                <td></td>
                <td th:text="${totaalprijs}"></td>
                <td></td>
            </tr>
            </tbody>
    </table>

<div class="container-fluid" th:if="${not all.isEmpty()}">

    <form th:action="@{~/bedankt}">
        <div class="form-group">
            <label for="email" class="input-group-text">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Voer uw emailadres in" required="required">
        </div>
        <div class="form-group">
            <label for="voorNaam" class="input-group-text">Voornaam</label>
            <input type="text" id="voorNaam" class="form-control" placeholder="Voer uw voornaam in" required="required">
        </div>
        <div class="form-group">
            <label for="achterNaam" class="input-group-text">Achternaam</label>
            <input type="text" id="achterNaam" class="form-control" placeholder="voer uw achternaam in" required="required">
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputStraat">Straat</label>
                <input type="text" class="form-control" id="inputStraat" placeholder="Straatnaam" required="required">
            </div>
            <div class="form-group col-md-4">
                <label for="inputHuisNr">Huisnummer</label>
                <input type="text" class="form-control" id="inputHuisNr" placeholder="A 18" required="required">
            </div>
            <div class="form-group col-md-8">
                <label for="inputCity">Gemeente/Stad</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Stad..." required="required">
            </div>
            <div class="form-group col-md-4">
                <label for="inputZip">Postcode</label>
                <input type="text"  class="form-control" id="inputZip" placeholder="A 1000" required="required">
            </div>
            <div id="sub-knop">
                <input type="submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
</body>
</html>